<div class="header">
  <div class="left">
    <img
      src="https://d2oeydowngaei1.cloudfront.net/resources/front/images/carstar-logo.webp"
      alt=""
    />

    <div class="sub-header">
      <div class="item"><span>Services</span></div>
      <div class="item"><span>Locations</span></div>
      <div class="item"><span>About</span></div>
      <div class="item"><span>CarStar Cares</span></div>
    </div>
    <div></div>
  </div>
  <div class="right">
    <h2>CALL US <span style="color: #c60c30">9455 564 616</span></h2>
    <div>
      <button class="button button-gray">Contact Us</button>
      <button class="button button-red">Request Time</button>
    </div>
  </div>
</div>
